---
import Skill from "./Skill";
import data from "../data/skills.json"
---

<div id="skills" class="bg-white dark:bg-gray-800">
  <div class="flex gap-5 justify-around items-center">
    <h3 class="p-5 p5 mx-auto text-xl font-semibold text-gray-900 dark:text-white">
      Skills
    </h3>
  </div>
  <div
    class="grid grid-cols-2  gap-2 sm:grid-cols-3 sm:gap-16 md:gap-20 p-4 mx-auto max-w-screen-xl text-gray-900 md:grid-cols-6 xl:grid-cols-10 dark:text-white sm:p-8">
    {data.map((skill) => (
    <Skill key={skill.name} viewBox={skill.viewBox} name={skill.name} img={skill.svg} time={skill.time} />
    ))}
  </div>
</div>